/* ==UserStyle==
@name           BetterWoWForums
@namespace      github.com/Chroesire/BetterWoWForums
@version        1.0.0
@description    Various adjustments for the official WoW forums.
@author         Chroesire
@updateURL      https://github.com/Chroesire/BetterWoWForums/raw/main/BetterWoWForums.user.css

@var checkbox useBG "Use custom background" 1
@var select bgImage "Background" {
  "Caverns of Time": "caverns",
  "Blade's Edge Mountains": "bladesedge",
  "Zangarmarsh": "zangar",
  "Blood Elf": "belf",
  "Nagrand": "nagrand",
  "Eversong Forest": "eversong",
  "After the Battle": "battle",
  "Dark Portal": "darkportal" 
}
@var text     fontSize   "Font size"    15px

@preprocessor stylus
==/UserStyle== */
@-moz-document domain("forums.blizzard.com") {
    :root {
        if useBG {
            body,
            .Navbar,
            .d-header,
            .Theme--wow .Navbar,
            .Theme--wow .Subnav {
                background-image: url("https://u.cubeupload.com/chroesire/" + bgImage + ".jpg") !important;
            }
        }

        * {
            font-family: system-ui !important;
        }

        a.fancy-title {
            font-family: system-ui !important;
        }

        .text-base,
        p,
        li {
            font-size: fontSize;
        }

        code,
        pre {
            font-family: monospace !important;
        }
    }
}
