/* ==UserStyle==
@name			BetterWoWForums
==/UserStyle== */

@-moz-document url-prefix("https://us.forums.blizzard.com/en/wow/")
{
	:root {
	    --bg-image: /*[[bg-image]]*/;
	  }
	
	body, .Theme--wow .Navbar, .Theme--wow .Subnav {
		--main-background-image: url("http://i.imgur.com/QnsPjna.jpg");
		background-image: url("http://i.imgur.com/QnsPjna.jpg") !important;
	}
	    
	* {
		font-family: system-ui !important;
	}
	
	a.fancy-title {
		font-family: system-ui !important;
	}
	
	.text-base, p, li {
		font-size: 15px;
	}
	
	code, pre {
		font-family: monospace !important;
	}
	
	/* CoT: http://i.imgur.com/QnsPjna.jpg
	   BEM: http://i.imgur.com/GmvR6LQ.jpg,
	   Zan: http://i.imgur.com/m3WfBrR.jpg,
	   Elf: http://i.imgur.com/VKBVPAG.jpg,
	   Nag: http://i.imgur.com/tnMKSx3.jpg,
	   Evr: http://i.imgur.com/ZFLsvhM.jpg,
	   War: http://i.imgur.com/FCl5L1t.jpg,
	   WoW: http://i.imgur.com/l8x6d6K.jpg */
}